

/* Loader flotante centrado en pantalla */
.loader-dots {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    display: flex;
    gap: 6px;
}

.loader-dots div {
    width: 12px;
    height: 12px;
    background: #2b59c3;
    border-radius: 50%;
    animation: saltar 0.6s infinite alternate;
}

.loader-dots div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-dots div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes saltar {
    from {
        transform: translateY(0);
        opacity: 0.5;
    }
    to {
        transform: translateY(-10px);
        opacity: 1;
    }
}
